/* 언어 설정 */
@charset "uft-8";

/* 언어설정 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Paytone+One&display=swap');
</style>
 /* 전체설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none;
    color: black;}
ul {list-style: none;}

.logo {font-size: 30px;
        font-weight: normal;
        font-family: 'Nanum Pen Script', cursive;
font-family: 'Paytone One', sans-serif;
}

.box2 {background-color: #7acba1;
    padding: 15px;
}
.box2>ul {display: flex;}
.box2>ul>li {width: auto;}
.box2>ul>li>a {display: block;
                font-size: 14px;
                padding: 10px;}


/* 음식 외출 설정 */
.button {
    margin-top: 30px;
}

.button span {
    background-color: lightgoldenrodyellow;
    margin-right: 10px;
}
.button span a {
    font-size: 15px;
    font-weight: 600;
    display:inline-block;
    padding: 10px;
    border-radius: 100px;
    
}

/* 박스A 설정 */
.box A {

}
.box3 h2 {
    font-size: 36px;

}
.box3 h3 {
    border-left: solid 30px #7acba1;
    padding-left: 30px;
}
.box3 img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.box3 time {}
.box3 p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}

/* sns설정 */
.sns {}
.sns {}
.sns {}
.sns {}
.sns {}

/* 관련기사설정 */
div.relevant {
    width: 100%;
    height: 200px;
    background-color: beige;
    align-items: center;
    
}      
.relevant h4 {
    text-align: center;
    margin-top: 20px;
    background-color: beige;
    margin-bottom: 0;
    color: indianred;
}

.img {}
.relevant img {
    width: 98px;
    height: auto;
    margin: 0;
    padding: 0;
}

/* 특집기사 */
.article {
    margin-top: 40px;
}
.article ul {
    margin: 0;
    padding: 0;
}
.article h3 {
    border-bottom: dotted 3px #ddd;
    padding-bottom: 10px;
    color: #666;
}
.article li {
    margin-top: 10px;
}
.article li>a {
    display: block;
    font-size: 14px;
}
.article li a i {
    font-size: 12px;
    color: #666;
}

/* 추천기사 */
.recommend {
    margin-top: 40px;
}
.recommend ul {
    margin: 0;
    padding: 0;
}
.recommend h3 {
    border-bottom: dotted 3px #ddd;
    padding-bottom: 10px;
    color: #666;
}
.recommend li {
    margin-top: 10px;
    position: relative;
}
.recommend li>a {
    display: block;
    font-size: 14px;
}

.recommend img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.recommend .text {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(00, 00, 00, 0.5);
    color: #fff;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* 인기기사 */
.popular {
    margin-bottom: 20px;
    margin-top: 40px;
}
.popular ul {
    margin: 0;
    padding: 0;
}
.popular h3 {
    border-bottom: dotted 3px #ddd;
    padding-bottom: 10px;
    color: #666;
}
.popular li {
    content: "";
    display: block;
    margin-top: 10px;
    border-bottom: 3px dotted #ddd;
}
.popular li>a {
    display: block;
    font-size: 14px;
}
.popular li a::after {
    content: "";
    display: block;
    clear: both;
}
.popular .text {
    float: none;
    width: auto;
    margin-left: 60px;
}
.popular img {
    float: left;
    width: auto;
}
.popular span {
    display: block;
    font-size: 12px;
    color: #666;
}

/* 푸터영역 */
.box5 {
    border-top: solid 1px #ddd;
}
.box5 p {
    font-size: 10px;
    color: #ddd;
}





/* 마진영역 */

/* 모바일 설정 */

@media (min-width:768px){
/* 박스3 박스4 가로설정 */
.box3 {width: 70%;
    float: left;}
.box4 {width: 30%;
    float: left;}
.boxA::after {content:"";
        clear: both;
        display: block;}
}

/* 박스3과 박스4 좌우간격 */
.box3 {
    padding-right: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* 웹설정 */
@media (min-width:1280px){
    .box1, .boxA {width: 1280px;
                    margin: 0 auto;} 
}
