@charset 'utf-8';
.box1 ::after {content: "";
                clear: both;
                display: block;}
.box1-1 {float: left;
        width: 20%;}
.box1-2 {float: left;
        width: 80%;}

.box2::after {content: "";
                clear: both;
                display: block;}

.box3-1 {float: left;
        width: 33.3333%;}
.box3-2 {float: left;
        width: 33.3333%;}
.box3-3 {float: left;
        width: 33.3333%;}
