/* 언어설정을 */

@charset 'utf-8';
/* !!! css파일은 @charset 은 꼭 설정 할 것 아니면 오류가 많이 남 !!! */

/* 박스C 가로정렬 */
.boxC::after {content: "내용작성";
                clear:both;
                display: block;}
             /* :atfer 공간침투금지 */
.boxC>.box1 {float: left; width: 50%;}
.boxC>.box2 {float: left; width: 50%;}

/* 박스 3-1, 박스3-2, 박스 3-3의 가로정렬 */

.box3-1 {float: left;
        width: 33.3333%;}
.box3-2 {float: left;
        width: 33.3333%;}
.box3-3 {float: left;
        width: 33.3333%;}
.box3::after {content: "";
                clear: both;
                display: block;}

