/* 언어설정 */
@charset "UTF-8";
/* 전체설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: #888;}
ul {list-style: none;}
img {border: none; vertical-align: bottom;}
html {scroll-behavior: smooth;} /* 부드럽게 움직이게 한다 */

/* 전체화면 설정 */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
section h2 {
    font-weight: normal;
    text-align: center;
    font-family: impact, sans-serif;
    font-size: 80px;
    margin-bottom: 30px;
}
section {
    padding: 7em 0;
}
section .wrapper {
    padding: 4em 1em;
}
#about {
    height: 100vh;
    background-color: #fff;
    clip-path: polygon(0 0, 100% .0, 100 100%, 0 100%);
}

#news {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
#speakers {
    background-color: #fff;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
#ticket {
    height: 100vh;
    background-image: linear-gradient( 190deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}


/* 해더설정 */
header {
    width: 100%;
    padding: 16px 0;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
.logo {
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
nav ul {
    display: flex;
}
nav ul li {

}
nav ul li a {
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s;
}
nav ul li a:hover {
    color: #1665cc;
}
/* 메인 이미지 설정 */
.mainImg {
    text-align: center;
    height: 100vh; /* 임의설정 */
    background-color: #4db1ec;
    background-image: url(/img/hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: flex;
    align-items: center;
    animation: bg 24s infinite;
    clip-path: polygon(0 0, 100% 0px, 100% 90%, 0 100%);
}/* 컬러를 쓰고 이미지 쓰기  뒤에 컬러를 넣으면 이미지가 없어짐*/

.mainImg h3 {
    font-size: 160px;
    font-family: impact, sans-serif;
    font-weight: normal;
    margin-bottom: 50px;
}
.mainImg P:nth-child(2) {
    padding: 25px;
    font-size: 80px;
    font-family: impact, sans-serif;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}
.mainImg P:nth-child(3) {
    margin-top: 50px;
    font-size: 25px;
}
/* 애니메이션 설정 */

/* @keyframes boldh3 {

    0% {
        font-weight: bold;
        font-size: 20px;
    }
    100% {
        font-weight: normal;
        font-size: 60px;
    }
} */

@keyframes bg {
    0% {background-color: #4db1ec;}
    12.5% {background-color: #1665cc;}
    25% {background-color: #b473bf;}
    37.5% {background-color: #ffb2c1;}
    50% {background-color: #ff9f67;}
    62.5% {background-color: #ffd673;}
    75% {background-color: #a2e27b;}
    87.5% {background-color: #00a2af;}
    100% {background-color: #4db1ec;}
}



/* .mainImg h3 {
    font-weight: bold;
    font-size: 20px;
    animation: boldh3 3s infinite alternate; 
} */
    /* 0%의 값과 똑같게 설정해야 깜빡임이 없다 */

/* about설정 */
#about h2 {
    background-image: linear-gradient( 106.5deg,  rgba(255,215,185,0.91) 23%, rgba(223,159,247,0.8) 93% );    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about>div p {
    text-align: center;
    margin-bottom: 3em;
}
#about>div img {
    width: 100%;
    height: 100%;
}
/* news설정 */
#news h2 {
    font-weight: normal;
    color: #fff;
}
#news ul {
    width: 80%;
    margin: 0 auto;
}
#news li {}
#news li a {
    display: block;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
#news li a:hover {
    background-color: white;
    color: #00a2af;
}
#news li a span {
    display: inline-block;
    margin-right: 10px;
    width: 180px;
}
/* speakers설정 */
#speakers h2 {
    background: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#speakers .wrapper>div {
    margin-bottom: 20px;
    display: flex;
}
#speakers .text{
    width: 80%;
    order: 2;
    padding: 10px 40px;
}
#speakers img {
    order: 1;
    width: 20%;
    border-radius: 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: all 0.5s;
    filter: blur(5px);
}
#speakers .wrapper>div:hover img {
    border: 1px solid  rgba(128,162,245,1);
    padding: 10px;
    box-sizing: border-box;
    filter: none;
}/* 이미지에게 호버를 주지 않음 */
/* ticket설정 */
#ticket {
}
#ticket form {
    width: 500px;
    margin: 0 auto;
}
#ticket label {
    color: #fff;
    margin-bottom: 0.5em;
}
#ticket .ticket {
    box-sizing: border-box;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}
#ticket .ticket:focus{
    outline: none;
}
/* input클릭시 안에 생기는 outline을 사라지게 할시 포커스 사용 */
#ticket .btn {
    width: 100%;
    padding: 1em;
    font-size: 18px;
    border: none;
    background-color: #fff;
    color: rgba(99,88,238,1);
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}
#ticket .btn:hover {
    background-color: #000;
    color: #fff;
}
#ticket h2 {
    color: #fff;
}
.text P {
    font-size: 28px;
}
.text h4 {
    font-size: 32px;
    font-family: impact, sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}
/* 카피라이트 설정 */
.copy {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 80px;
    padding-top: 40px;

}
.copy p {
    color: #fff;
    text-align: center;
}

/* 미디어 설정################################ */
