/* 언어설정 */
@charset "UTF-8";
/* 전체설정 */
* {margin: 0; padding: 0;}
a {text-decoration: none;
    color: black;}
ul {list-style: none;}


.body {
    background-image: linear-gradient(to left  #faf6ed 50% ,#efe8d5 50%);
    background-size: 60px;
    display: flex;
}

.header {
    width: 1000px;
    margin: 0 auto;
}
.logo {
    text-align: center;
    width: 30%;
    height: 100%;
    margin: 50px 0; 
}

.header p {
    background-color: aqua;
}

/* 컨테이너와 메인 가로정렬 */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main_section {
    width: 70%;
    height: 80%;
}

.side_section {
    width: 30%;
}

.post_home {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 400px;
    position: relative;
}
.post_title {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border-bottom: dotted 10px #ddd;
    padding: 20px;
}
.post_title a {
    display: block;
    font-size: 20px;
    color: #666;
    font-weight: bold;
}
.post_img {
    display: flex;
    position: relative;
    width: 100%;
    height: 25%;
    order: 3;
}
.post_img img {
    margin: 30px 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    order: 1;
    top: 0;

}
.date {
    margin: 10px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;

}
.date span {
    display: block;
    font-size: 20px;
}
.post_story {
    color: #666;
    width: 60%;
    position: absolute;
    margin-left: 50%;
    top: 120px;
    right: 0;
}
.post_more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 20px;
}
.post_more a {
    background-color: blanchedalmond;
    padding: 10px 10px;
    border-radius: 30%;

}

.main_section ul {
    display: flex;
    justify-content: center;
}
.main_section ul li {
    width: auto;
}
.main_section ul li a {
    display: block;
    padding:30px 20px;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}

.side_section {
    height: 100%;
}
.side_section ul {
    

}
.side_section h3 {
    text-align: center;
    margin: 20px 0;
}
.side_section li {
    margin-left: 10px;
    margin: 20px;
}
.side_section a {
    display: block;
    text-align: center;
    border-bottom: 3px #666;
}
.cat {

}
.cat ul {}
.cat ul li {}
.cat ul li a {}
.news {
    width: 100%;
}
.news h3 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}
.news p {
    text-align: center;
}
.news form {
    margin: 20px 0;
    text-align: center;
    display: flex;
    height: 20px;

}
.news in[email] {
    width: 60%;
}
.news form[sumit] {
    width: 40%;
}
.popular {}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #666;
    height: 20%;
    text-align: center;

}
.footer ul {
    display: flex;
    margin: 50px 0;

}
.footer ul li {
    padding: 0 20px;
    width: auto;
}
.footer ul li a {
    display: block;
    color: #fff;
    font-weight: bold;
}
.footer p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 50px;
}

/* 우선순위 */