@charset "UTF-8";


/* 웹폰트설정 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* 전체설정 */


* {margin: 0; padding: 0;}
body {font-family: 'Nanum Pen Script', cursive;
        line-height: 1;
        background: linear-gradient(to bottom #77ddff , #ffffff);}

    ul {list-style: none;}
    li {list-style: none;}
    img {vertical-align: top;}
    a {text-decoration: none;}


.wrap {
    display: block;
    flex-direction: row;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* 로고와 내비 가로정렬 */
.logo {
    width: 20%;
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
}

.logo h1 {
    width: auto;
    width: 100%;
}
.logo>h1>a {
    display: block;
    font-size: 15px;
    font-weight: bold;
}
.nav {display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.menu {display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 0 100px;
    }
.menu li {width: auto;}
.menu li>a {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

/* 인포영역 */
.info {
    display: flex;
    width: auto;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
.info ul {display: block;}
.info ul>li {}
.info ul>li>a {}

/* 토글버튼 */
.toggle_A {display: none;}
.toggle_1 {display: none;}

    

    /* 웹구간 1280px*/