/* 언어설정 */
@charset "utf-8";
/* 구글폰트 */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Paytone+One&display=swap" rel="stylesheet">

/* 전체설정 */
* {margin: 0; padding: 0;}
ul {list-style: none;}
a {color: #000;
    text-decoration: none;}

/* 기본CSS */
/* logo설정 */
.logo {font-size: 30px;
        font-weight: normal;
        font-family: 'Nanum Pen Script', cursive;
font-family: 'Paytone One', sans-serif;
}
.logo>a {color: #000;
        text-decoration: none;}

/* 메뉴설정 */
.gnb>ul {display: flex;}
.gnb>ul>li {width: auto;}
.gnb>ul>li>a {display: block;
                padding: 10px;
                font-size: 14px;}

.box2 {background-color: #7cbac1;
        padding: 15px;}


/* 미디어쿼리구간 *###########################/

/* 모바일구간 */

/* 테블릿구간 */
/* 768px 이상일떄 ######### */
@media (min-width:768px){

/* 박스3과 박스4의 가로정렬 */

.box3 {width: 70%;
    float: left;}
.box4 {width: 30%;
    float: left;}

.boxA::after{content: "";
        clear: both;
        display: block;}

/* 복사할때  꼭 ctrl+X 후 ctil+v */
}


/* 웹구간 */

/* 1280px이상일떄######## */
@media (min-width:1280px){

    .box1, .boxA, .gnb {width: 1190px;
            margin: 0 auto;}
}
